@import '../variables';

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 10vw;

  hr {
    width: 100%;
    border-top: 1px solid $border-color;

    @media #{$mobile-width-m-min} {
      display: none;
    }
  }
}

.proj {
  &-card {
    position: relative;

    display: flex;
    // flex-direction: column;
    // align-items: center;
    // max-height: 300px;

    width: 100%;

    margin: 25px 0;
  }

  &-image {
    border: 1px solid $border-color1;

    padding: 4px;

    box-sizing: border-box;
    width: 40%;

    object-fit: contain;

    @media (hover: hover) {
      cursor: pointer;
    }
  }

  &-about {
    color: $font-color-l;

    margin-left: 30px;
    margin-top: 10px;

    text-align: left;
  }

  &-title {
    color: $font-color-l;
    font-size: 1.1em;
  }

  &-body {
    font-size: 0.9em;
    letter-spacing: 0.5px;
    line-height: 22px;
  }

  &-techs {
    color: $font-color;
    font-size: 0.8em;
    padding: 6px 0;
  }

  &-links {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    & .button {
      width: 110px;

      &:first-child {
        margin-right: 30px;
      }
    }
  }

  @media #{$mobile-width-m} {
    &-card {
      flex-direction: column;
      max-height: none;
    }

    &-image {
      width: 100%;
    }

    &-about {
      margin-left: 0;
    }
  }
}
