@import '../variables';

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 10vw;

  & > * {
    flex: 1;
  }

  hr {
    width: 100%;
    border-top: 1px solid $border-color;

    @media #{$mobile-width-m-min} {
      display: none;
    }
  }

  & .title {
    @media #{$mobile-width-m-min} {
      display: none;
    }
  }
}

.proj {
  &-card {
    display: flex;

    width: 100%;
    max-width: 1000px;

    margin: 25px 0;

    height: auto;
  }

  &-image {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40%;
      min-width: 40%;
      overflow: hidden;
      border: 1px solid $border-color1;

      // @media #{$mobile-width-m} {
      //   width: 75%;
      //   // min-width: 75%;
      // }
    }

    width: 100%;

    object-fit: contain;
    box-sizing: border-box;

    padding: 4px;
  }

  &-about {
    display: flex;
    flex-direction: column;

    color: $font-color-l;

    margin-left: 30px;
    margin-top: 10px;

    text-align: left;
  }

  &-title {
    color: $font-color-l;
    font-size: 1.1em;
  }

  &-body {
    font-size: 0.8em;
    letter-spacing: 0.5px;
    line-height: 22px;

    br {
      line-height: 2.5;
    }
  }

  &-techs {
    color: $font-color;
    font-size: 0.8em;
    padding: 6px 0;
  }

  &-links {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    & .button {
      width: 110px;

      &:first-child {
        margin-right: 30px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media #{$mobile-width-m} {
    &-card {
      display: block;
    }

    &-image {
      &-container {
        width: 100%;
      }
      width: 75%;
    }

    &-about {
      margin-left: 0;
    }

    &-title {
      text-align: center;
    }

    &-body {
      text-align: justify;
      text-justify: distribute;
    }

    &-techs {
      text-align: center;
      font-weight: bolder;
    }

    &-links {
      justify-content: center;
    }
  }
}
