.app {
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: #232323;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-content: center; }
  .app #routes {
    overflow-x: hidden;
    flex: 1;
    display: flex;
    background-color: white; }
    @media only screen and (min-width: 600px) {
      .app #routes > * {
        padding-top: 2em; } }
    .app #routes::-webkit-scrollbar {
      width: 2px;
      display: block; }

a {
  color: inherit;
  text-decoration: none;
  text-align: center; }
  a:visited {
    color: inherit; }
  a:hover {
    cursor: pointer;
    color: grey;
    font-size: 1.05em; }
  a:active {
    color: darkgrey; }

.alink {
  font-size: 0.75em;
  color: #656565;
  text-decoration: underline; }
  @media (hover: hover) {
    .alink:hover {
      cursor: pointer;
      color: blue;
      transition: 0.3s; } }

img.icon {
  width: 25px;
  height: 25px;
  opacity: 0.5;
  transition: 0.5s; }
  img.icon.selected {
    opacity: 0.66;
    transition: 0.5s; }

@media (hover: hover) {
  img.clickable {
    cursor: pointer; } }

button,
.button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: inherit;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 25px;
  width: 100%;
  line-height: 25px;
  transition: 0.3s; }
  @media (hover: hover) {
    button:hover,
    .button:hover {
      cursor: pointer;
      background-color: #ccc;
      border: 1px solid rgba(0, 0, 0, 0);
      color: white;
      transition: 0.3s; } }

.title {
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-size: 1.15em;
  letter-spacing: 2px;
  margin: 25px 0;
  border-bottom: 1px solid #e0e0e0; }

.back-to-top {
  border-top: 1.8px solid #ededed;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 25px;
  text-align: center;
  z-index: 99;
  background-color: white;
  opacity: 1;
  transition: height 0.3s, opacity 0.3s 0.3s; }
  .back-to-top.hidden {
    opacity: 0;
    height: 0;
    transition: height 0.3s 0.3s, opacity 0.3s; }

::-webkit-scrollbar {
  display: none;
  /* Handle */ }
  ::-webkit-scrollbar-track {
    display: none; }
  ::-webkit-scrollbar-thumb {
    background: grey; }
    ::-webkit-scrollbar-thumb:hover {
      background: white;
      cursor: pointer; }

* {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  -o-user-select: none;
  user-select: none; }

#nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fafafa;
  border-bottom: 1px solid #ededed;
  position: relative; }
  #nav .title {
    margin: 0;
    border-bottom: none; }

.nav-menu {
  position: relative;
  width: 70vw;
  display: flex;
  align-items: center;
  border: 1px solid #ededed; }
  @media only screen and (max-width: 600px) {
    .nav-menu {
      position: absolute;
      right: 0px;
      border: none;
      width: 50px; } }

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%; }
  .nav-links-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 600px) {
      .nav-links-container {
        overflow: hidden;
        max-height: 150px;
        transition: 0.3s;
        position: absolute;
        top: 43px;
        right: 0;
        width: 100vw;
        height: 100px; }
        .nav-links-container.closed {
          max-height: 0;
          transition: 0.3s; } }
  .nav-links > * {
    width: 100%; }
  @media only screen and (max-width: 600px) {
    .nav-links {
      flex-direction: column;
      z-index: 44;
      background-color: white;
      border-bottom: 1px solid #e0e0e0; }
      .nav-links > * {
        border-bottom: 1px solid #ededed; }
        .nav-links > *:last-child {
          border: none; } }

.nav-link {
  background-color: inherit;
  border: none;
  transition: border 0s, background-color 0.5s; }
  .nav-link.selected {
    background-color: white;
    border: 1.7px solid #e0e0e0;
    transition: border 0s, background-color 0.5s; }
    @media only screen and (max-width: 600px) {
      .nav-link.selected {
        background-color: inherit;
        border: none; } }
  @media (hover: hover) {
    .nav-link:hover {
      cursor: pointer; } }

.nav .bottom-marker-container {
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: -10; }

.nav-marker {
  background-color: #e0e0e0;
  width: 10%;
  height: 100%;
  left: 0; }

.hamburger {
  margin: 0 10px;
  transition: 0.2s; }
  @media (hover: hover) {
    .hamburger:hover {
      opacity: 0.3;
      transition: 0.2s; } }
  @media only screen and (min-width: 600px) {
    .hamburger {
      max-width: 0;
      margin: 0;
      visibility: hidden; } }

#profile-pic-container {
  position: relative;
  border-bottom: 1px solid #ededed;
  overflow: hidden;
  height: 40vh;
  max-height: 450px;
  transition: 0.5s; }
  #profile-pic-container.collapsed {
    height: 0;
    max-height: 0;
    transition: 0.5s; }
  @media only screen and (max-width: 600px) {
    #profile-pic-container {
      height: 35vh;
      max-height: 350px; } }
  @media only screen and (max-width: 400px) {
    #profile-pic-container {
      height: 35vh;
      max-height: 250px; } }

.profile-picture {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/images/me00s.jpg");
  background-position: 75%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 40vh;
  max-height: 450px;
  transition: 0.5s; }
  @media only screen and (max-width: 600px) {
    .profile-picture {
      background-image: url("/images/me00ss.jpg");
      height: 35vh;
      max-height: 350px; } }
  @media only screen and (max-width: 400px) {
    .profile-picture {
      height: 35vh;
      max-height: 250px; } }

.links-and-files {
  position: absolute;
  bottom: 25%;
  left: 20%;
  width: 150px;
  z-index: 33;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .links-and-files a {
    margin: 2px 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8em; }
    @media (hover: hover) {
      .links-and-files a:hover img {
        filter: invert(0.5); } }
    .links-and-files a .button-message {
      width: 100%;
      line-height: 100%; }
  .links-and-files .media-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%; }
    @media (hover: hover) {
      .links-and-files .media-icons .icon:hover {
        cursor: pointer; } }
  @media only screen and (max-width: 600px) {
    .links-and-files {
      left: 15%; } }
  @media only screen and (max-width: 400px) {
    .links-and-files {
      left: 10%;
      bottom: 35%; } }

.home {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10vw;
  height: inherit;
  width: 100%; }
  @media only screen and (max-height: 630px) {
    .home {
      height: fit-content; } }

.about-header {
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-size: 1.15em;
  letter-spacing: 2px;
  margin: 10px 0;
  width: 100%;
  text-align: center; }

.about-body {
  color: #656565;
  font-size: 0.9em;
  text-align: center;
  line-height: 20px;
  max-width: 825px; }
  .about-body:after {
    content: '';
    display: inline-block;
    width: 100%; }

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10vw; }
  .projects > * {
    flex: 1; }
  .projects hr {
    width: 100%;
    border-top: 1px solid #ededed; }
    @media only screen and (min-width: 600px) {
      .projects hr {
        display: none; } }
  @media only screen and (min-width: 600px) {
    .projects .title {
      display: none; } }

.proj-card {
  display: flex;
  width: 100%;
  margin: 25px 0;
  height: auto; }

.proj-image {
  box-sizing: border-box;
  object-fit: contain;
  border: 1px solid #e0e0e0;
  padding: 4px;
  width: 40%; }

.proj-about {
  display: flex;
  flex-direction: column;
  color: #656565;
  margin-left: 30px;
  margin-top: 10px;
  text-align: left; }

.proj-title {
  color: #656565;
  font-size: 1.1em; }

.proj-body {
  font-size: 0.8em;
  letter-spacing: 0.5px;
  line-height: 22px; }
  .proj-body br {
    line-height: 2.5; }

.proj-techs {
  color: #232323;
  font-size: 0.8em;
  padding: 6px 0; }

.proj-links {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center; }
  .proj-links .button {
    width: 110px; }
    .proj-links .button:first-child {
      margin-right: 30px; }
    .proj-links .button:last-child {
      margin-right: 0; }

@media only screen and (max-width: 600px) {
  .proj-card {
    display: block; }
  .proj-image {
    width: 100%; }
  .proj-about {
    margin-left: 0; }
  .proj-title, .proj-techs, .proj-body {
    text-align: center; }
  .proj-links {
    justify-content: center; } }

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .photos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; }
    @media only screen and (min-width: 600px) {
      .photos-container .title {
        display: none; } }
  @media only screen and (min-width: 600px) {
    .photos {
      margin-top: 2em; } }
  .photos-preview {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 33;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10%, 10%, 10%, 10%;
    opacity: 1;
    transition: opacity 0.5s, width 0s, height 0s;
    transition-timing-function: ease-in; }
    .photos-preview.hidden {
      height: 0;
      width: 0;
      opacity: 0;
      transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
      transition-timing-function: ease-in-out; }
    .photos-preview .image {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain; }
      .photos-preview .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        position: relative; }
    .photos-preview .arrow {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 5%;
      background-color: rgba(0, 0, 0, 0); }
      .photos-preview .arrow.next {
        right: -6%; }
      .photos-preview .arrow.prev {
        left: -6%; }
      @media (hover: hover) {
        .photos-preview .arrow:hover {
          cursor: pointer;
          background-color: rgba(222, 222, 222, 0.2);
          transition: 0.3s; } }
      .photos-preview .arrow:active {
        background-color: rgba(222, 222, 222, 0.4); }
      @media only screen and (max-width: 600px) {
        .photos-preview .arrow {
          height: 5%;
          width: 40%;
          bottom: -6%;
          border-radius: 4px;
          background-color: rgba(222, 222, 222, 0.2); }
          .photos-preview .arrow.next {
            right: 0; }
          .photos-preview .arrow.prev {
            left: 0; } }
  .photos-thumbnail {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.3s; }
    .photos-thumbnail-container {
      width: 250px;
      height: 250px;
      overflow: hidden;
      margin: 10px;
      position: relative; }
      @media only screen and (max-width: 600px) {
        .photos-thumbnail-container {
          width: 27vw;
          height: 27vw; } }
      @media only screen and (max-width: 400px) {
        .photos-thumbnail-container {
          width: 35vw;
          height: 35vw; } }
    @media (hover: hover) {
      .photos-thumbnail:hover {
        cursor: pointer;
        transform: scale(0.97);
        filter: grayscale(0.5); } }

.thumbnail-filler {
  width: 250px;
  /*same width as thumbnails*/
  margin: 10px;
  position: relative;
  height: 0; }

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
  opacity: 1;
  transition: 1s; }
  .contact-me.hidden {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: opacity 1s, height 1s, visibility 0s 1s; }
  .contact-me .title {
    margin-bottom: 10px; }
  .contact-me .text {
    color: #656565;
    font-size: 0.9em;
    line-height: 20px;
    text-align: center;
    width: 100%;
    max-width: 350px; }
    .contact-me .text a {
      color: #232323; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; }

input,
textarea {
  border: 1px solid #e0e0e0;
  padding: 4px;
  margin: 4px 0;
  width: 100%;
  max-width: 350px; }

.error-msg {
  font-size: 0.8em;
  color: red; }
