.app {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 5em;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: grey;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#hamburger {
  top: 50px;
  position: absolute;
  width: 40px;
  transform: scale(1);
  left: 25px;
  transition: 1s ease-out;
}

#close {
  top: 50px;
  position: absolute;
  width: 40px;
  transform: scale(1);
  left: 180px;
  z-index: 30;
  transition: 0.7s ease-in-out;
}

#hamburger.hidden {
  transform: scale(0);
  transition: 0.5 ease-out;
}

#close.hidden {
  transform: scale(0);
  left: 25px;
  transition: 0.3s ease-out;
}

#hamburger:hover,
#close:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 1.3px black);
}

.menu {
  width: 250px;
  height: 100vh;
  background-color: #333333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
  opacity: 0.75;
  transform: translateX(0px);
  transition: .7s ease-out;
}

.menu.hidden {
  transform: translateX(-30vw);
  transition: .7s ease-out;
}

.menu ul {
  text-align: left;
  list-style: none;
  padding-right: 5em;
}

.menu li {
  padding: 5px;
}



img.image {
  filter: grayscale(100%);
  transition: 1s;
}

img.image:hover {
  filter: grayscale(0%);
  transition: 1s;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

#headshot {
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

