@import '../variables';

@mixin heights-s {
  height: 35vh;
  max-height: 250px;
}
@mixin heights-m {
  height: 35vh;
  max-height: 350px;
}

#profile-pic-container {
  position: relative;

  border-bottom: 1px solid $border-color;

  overflow: hidden;

  height: 40vh;
  max-height: 225px;
  transition: 0.5s;

  &.collapsed {
    height: 0;
    max-height: 0;
    transition: 0.5s;
  }

  @media #{$mobile-width-m} {
    @include heights-m;
  }

  @media #{$mobile-width-s} {
    @include heights-s;
  }
}

.profile-picture {
  background-color: rgba(0, 0, 0, 0);
  background-image: url('/images/me00s.jpg');
  background-position: 75%;
  background-size: auto 100%;
  background-repeat: no-repeat;

  height: 40vh;
  max-height: 250px;
  transition: 0.5s;

  @media #{$mobile-width-m} {
    background-image: url('/images/me00ss.jpg');
    @include heights-m;
  }

  @media #{$mobile-width-s} {
    @include heights-s;
  }
}

.links-and-files {
  position: absolute;

  bottom: 25%;
  left: 20%;

  width: 150px;

  z-index: 33;

  display: flex;
  flex-direction: column;
  align-items: center;

  & a {
    margin: 2px 0;
    display: flex;
    align-items: center;

    text-transform: uppercase;
    font-size: 0.8em;

    @media (hover: hover) {
      &:hover {
        & img {
          filter: invert(0.5);
        }
      }
    }

    .button-message {
      width: 100%;
      line-height: 100%;
    }
  }

  .media-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5px;

    width: 100%;

    @media (hover: hover) {
      .icon:hover {
        cursor: pointer;
      }
    }
  }

  @media #{$mobile-width-m} {
    left: 15%;
  }
  @media #{$mobile-width-s} {
    left: 10%;
    bottom: 35%;
  }
}
