.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1c1c1c;
  min-height: 100vh;
  color: grey;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Noto Sans', sans-serif; */
  font-weight: 400;
}

a.link {
  color: inherit;
  text-decoration: none;
}

#headshot {
  align-self: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: 0.5s;
}
@media (hover: hover) {
  #headshot.closed-menu:hover {
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.1s;
  }
}

.headshot-div {
  filter: grayscale(100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.25s ease-in-out;
}

.headshot-div.open-menu {
  margin-top: 4em;
  min-height: 0vh;
  filter: grayscale(0%);
  transition: 1.25s ease-out;
}

.headshot-div.aboutme {
  margin-top: 4em;
  min-height: 0vh;
  filter: grayscale(0%);
  transition: 1.25s ease-out;
}

/* NAV BUTTONS */

#backtotop {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  position: fixed;
  opacity: 0.8;
  top: 85vh;
  left: 85vw;
  transition: opacity 1.5s, font-size 0s;
}

#backtotop.closed {
  opacity: 0;
  font-size: 0em;
  transition: opacity 1.5s, font-size 0s 1.5s;
}

#backtotop:hover {
  transform: scale(0.9);
  cursor: pointer;
}

#backtotop:active {
  transform: scale(0.9);
  transition: 0.1s;
}

#menu-button {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  position: fixed;
  opacity: 0.8;
  top: 81vh;
  left: 85vw;
  transition: opacity 1.5s, font-size 0s;
}

#menu-button.icon {
  width: 37.5px;
  top: 85vh;
  left: 87vw;
  filter: invert(0.4);
}

@media (hover: hover) {
  #menu-button:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
}

#menu-button:active {
  transform: scale(0.8);
  transition: 0.1s;
}

#menu-button.closed {
  opacity: 0;
  font-size: 0em;
  width: 0;
  transition: width 0s 1.5s, opacity 1.5s, font-size 0s 1.5s;
}

#menu-button.icon.closed {
  filter: invert(0.4);
}

.router-link {
  color: #0b9d89;
  text-decoration: none;
  font-size: 1em;
  transition: 0.25s;
}

.router-link:hover {
  font-size: 1.1em;
}

.router-link:active {
  font-size: 1em;
}

/* MENU ON SIDE, WEB VERSION */
#menu-icon {
  opacity: 0.8;
  top: 6.7em;
  position: absolute;
  width: 25px;
  transform: scale(1.5);
  filter: invert(0.4);
  left: 57px;
  z-index: 333;
  transition: opacity 0.5s 0.25s, width 0s, z-index 0s, transform 0.5s 0.25s;
}

@media (hover: hover) {
  #menu-icon:hover {
    transform: rotate(180deg) scale(1.5);
    cursor: pointer;
    transition: 0.5s;
  }
}

#menu-icon.closed {
  opacity: 0;
  width: 0px;
  transition: opacity 0.5s 0s, width 0s 0.5s;
}

/* 
#menu-icon:active {
  transform: rotate(180deg) scale(1.15);
  transition: transform 0.1s;
} */

#close {
  opacity: 0.8;
  top: 6.7em;
  position: absolute;
  width: 25px;
  transform: rotate(-90deg) scale(2);
  filter: invert(0.4);
  left: 57px;
  z-index: 3333;
  transition: 1.2s;
}

  #close:hover {
    cursor: pointer;
    transform: scale(2.2);
    transition: transform 1s;
  }

.menu {
  width: 200px;
  height: 100vh;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6em;
  opacity: 0.75;
  transform: translateX(0px);
  transition: 0.5s ease-out;
  transition-delay: 0.5s;
}

.menu.fast {
  transition-delay: 0s;
  transition: 1s ease-in-out;
}

.menu.hidden {
  transform: translateX(-200px);
  transition: 0.5s ease-in;
}

.menu ul {
  text-align: left;
  list-style: none;
  top: 30vh;
  padding-right: 02em;
  padding-top: 5em;
}

.menu li {
  padding: 8px;
}

/* MOBILE WAS HERE */

#resume {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#resume-image {
  width: 95vw;
  margin-top: -1em;
  max-width: 1000px;
  align-self: center;
}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0); */
  background-color: #222222;
  border-radius: 10px;
  padding: 1.5em;
  margin: 1.5em 0px;
}

.card.button {
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.page-container {
  margin-top: 3em;
  margin: 3em 1.8em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  */
  padding: 0.2em;
  margin: auto;
  margin-top: 0.5em;
  max-width: 625px;
}

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 77vw;
}

.photo-thumb-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 10px;
  position: relative;
}

.photo-thumb {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.3s;
}

.filling-empty-space-thumbs {
  width: 250px; /*same width as thumbnails*/
  margin: 10px;
  position: relative;
  height: 0;
}

@media only screen and (max-width: 690px) {
  .photo-thumb-container {
    width: 200px;
    height: 200px;
  }

  .filling-empty-space-thumbs {
    width: 200px; /*same width as thumbnails*/
  }
}

@media (hover: hover) {
  .photo-thumb:hover {
    cursor: pointer;
    transform: scale(0.9);
    filter: grayscale(0.5);
  }
}

#large-photo {
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

#large-photo.closed {
  opacity: 0;
  transition: 1s;
}

.single-photo-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 33;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10%, 10%, 10%, 10%;
  opacity: 1;
  transition: opacity 0.5s, width 0s, height 0s;
  transition-timing-function: ease-in;
}

.no-show {
  top: 0;
  left: 0;
  height: 00%;
  width: 00%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 33;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
  transition-timing-function: ease-in-out;
}

.arrow {
  font-size: 5em;
  align-self: center;
  opacity: 0.5;
  z-index: 33;
  padding: 15% 0px;
  margin: 10px;
}

.arrow.closed {
  transform: scale(0);
}

.arrow:hover {
  cursor: pointer;
}

.arrow:active {
  transform: scale(0.8);
  transition: 0.1s;
}

/* ABOUT ME PAGE */

#nametag {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  text-align: center;
  width: 200px;
  height: 60px;
  z-index: -11;
  opacity: 1;
  transition: opacity 0.7s 1s, width 1s, height 1s;
  transition-timing-function: ease-in;
}

#nametag.hide {
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: opacity 0.5s, width 0.7s 0.5s, height 0.7s 0.5s;
  transition-timing-function: ease-in;
}

.proj.header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3em;
}

.proj-pic-container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  width: 90%;
  opacity: 0.8;
}

.proj-pic-container:hover {
  cursor: pointer;
}

.proj-media-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  filter: invert(0.5);
  transition: 0.1s;
}

.proj-media-icon:active {
  width: 27px;
  height: 27px;
  filter: invert(0.7);
}

.proj-picture {
  width: 23%;
  height: 23%;
  margin: 5px;
}

@media (hover:hover) {
  .proj-picture:hover {
    cursor: pointer;
  }
}

.about.hr {
  opacity: 0.1;
  padding: 0;
  width: 100%;
}

.about.header {
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Indie Flower', cursive;
  font-size: 1.6em;
  /* font-style: italic; */
}

.about.p {
  text-align: justify;
  text-justify: inter-word;
  opacity: 0.7;
}

.about.p.pointer {
  cursor: pointer;
}

.about.p:hover .pop {
  font-variant: initial;
  line-height: 0px;
  font-weight: bold;
  font-size: 1em;
  color: #999999;
}

.pop {
  cursor: pointer;
}

@media (hover: hover) {
  .single-pop:hover {
    font-variant: initial;
    line-height: 0px;
    font-weight: bold;
    font-size: 1em;
    color: #999999;
  }
}

/* MOBILE VERSION, MENU ON BOTTOM */
@media only screen and (max-width: 690px) {
  #headshot {
    width: 90px;
    height: 90px;
  }

  #headshot:active {
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.12s;
  }

  #close {
    top: 3em;
    left: 50px;
  }

  .headshot-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu {
    width: 100vw;
    height: 60vh;
    top: 40vh;
    padding-top: 5em;
    transition-delay: 0.5s;
  }

  .menu.hidden {
    transform: translateY(60vh);
    transition: 1s ease-in;
  }

  .menu ul {
    text-align: center;
    padding-top: 1em;
  }

  .photo-thumb:active {
    transform: scale(0.9);
    filter: grayscale(0.5);
    transition: 0.1s;
  }

  #backtotop {
    font-size: 3em;
    position: fixed;
    top: 90vh;
    right: 4vw;
  }

  .arrow {
    font-size: 3em;
    opacity: 0.5;
    z-index: 33;
    margin: 10px 0px;
  }

  .pop,
  .single-pop {
    font-variant: initial;
    line-height: 0px;
    font-weight: bold;
    font-size: 1em;
    color: #999999;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  }
}
