$app-bg: white;
$ig-bg: #fafafa;

$font-color: #232323;
$font-color-l: #656565;

$border-color: #ededed;
$border-color1: #e0e0e0;

// QUERIES
$mobile-width-s: 'only screen and (max-width: 400px)';
$mobile-width-m: 'only screen and (max-width: 600px)';
$mobile-width-m-min: 'only screen and (min-width: 600px)';